### Some Basics:

In [2]:
### Python Indentation and Comments:

if 5 > 2:
    print("Five is greater than two!")

## Two Notes:
# The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
# You have to use the same number of spaces in the same block of code, otherwise Python will give you an error


"""
This is a comment
written in
more than just one line
"""

Five is greater than two!

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [4]:
### Python Variables:
#Python has no command for declaring a variable.
#A variable is created the moment you first assign a value to it.

x = 4       # x is of type int
y = "Sally" # x is now of type str
print(x)
print(y)
print(type(x))
print(type(y))

# Note: Variable names are case-sensitive.

4
Sally
<class 'int'>
<class 'str'>

In [5]:
###Many Values to Multiple Variables:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [6]:
###One Value to Multiple Variables:

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [9]:
### Unpack a Collection:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
print(type(fruits))
print(type(x))

apple
banana
cherry
<class 'list'>
<class 'str'>

In [10]:
### An important note about printing:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error

x = 5
y = "John"
print(x, y)

5 John

### Python Data Types:

In [11]:
x = "Hello World"
print(type(x))

<class 'str'>

In [12]:
x = 20
print(type(x))

<class 'int'>

In [13]:
x = 20.5
print(type(x))

<class 'float'>

In [14]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [15]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [16]:
x = range(6)
print(type(x))

<class 'range'>

In [17]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [18]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [19]:
x = True
print(type(x))

<class 'bool'>

In [20]:
x = None
print(type(x))

<class 'NoneType'>

### Random Numbers:

In [21]:
### Python does not have a random() function to make a random number, 
###but Python has a built-in module called random that can be used to make random numbers:

import random

print(random.randrange(1, 10))

4

### Python Strings:

In [22]:
# You can assign a multiline string to a variable by using three quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [23]:
# Get the character at position 1:

a = "Hello, World!"
print(a[1])

e

In [25]:
# Looping Through a String:
a="banana"
for x in a:
    print(x)

print(len(a))

b
a
n
a
n
a
6

In [26]:
# Check String:

txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [27]:
# Slicing Strings:

b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [28]:
# The upper() method returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [29]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [30]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [31]:
# String Concatenation:

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [33]:
# String Format:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [34]:
txt = "We are the so-called \"Vikings\" from the north."
# \ is the escape character, you can also use \n to go to a new line
# You can also search online for all available string methods

### Booleans:

In [38]:
a = 20
b = 33
c=b>a
if c:
    print("b is greater than a")
else:
    print("b is not greater than a")

print(type(c))

b is greater than a
<class 'bool'>

### Lists:

In [52]:
#Lists are one of 4 built-in data types in Python used to store collections of data, 
#the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
#Lists are created using square brackets

list1 = ["abc", 34, True, 40, "male"]

thislist = list(("apple", "banana", "cherry",4,6,8)) # note the double round-brackets

print(thislist)
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[-4:-1])

if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

['apple', 'banana', 'cherry', 4, 6, 8]
banana
8
['cherry', 4, 6]
['cherry', 4, 6]
Yes, 'apple' is in the fruits list

In [53]:
### Change list items:

thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 4, 6, 8]

In [54]:
### Insert items:

thislist.insert(2, "watermelon")
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'watermelon', 'cherry', 4, 6, 8]

In [60]:
### Extend lists:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [61]:
### append

thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'orange']

In [62]:
### pop _ if you dont enter the id, the function removes the last item

thislist.pop(1)
print(thislist)

['apple', 'cherry', 'mango', 'pineapple', 'papaya', 'orange']

In [63]:
### Loop list

for i in range(len(thislist)):
    print(thislist[i])

apple
cherry
mango
pineapple
papaya
orange

In [64]:
### Sort List

thislist.sort()
print(thislist)

['apple', 'cherry', 'mango', 'orange', 'papaya', 'pineapple']

In [65]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'papaya', 'orange', 'mango', 'cherry', 'apple']

### Python Functions:

In [1]:
def my_function():
    print("Hello from a function")

In [2]:
my_function()

Hello from a function

In [4]:
def my_function(fname):
    print(fname + " You are enrolled")

In [5]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil You are enrolled
Tobias You are enrolled
Linus You are enrolled